{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block navbar %}
    <div class="card">
        <div class="card-body">
        Uživatel {{ name }}
        </div>
    </div>
    <button type="button" class="btn btn-light" disabled></button>
    <a class="btn btn-primary" href="/" role="button">Odhlásit</a>
{% endblock %}

{% block card %}
<div>
    <div class="card">
        <div class="card-body">  
            Dashboard uživatele {{ name }}
        </div>

    <div class="card mx-5 mt-2">
        <div class="card-body">
            <h5>Tabluka naměřených hodnot</h5>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">measure</th>
                        <th scope="col">temp</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for measure in measures %}
                    <tr id="measure-{{ measure.id }}">
                            <td>{{measure.id}}</td>
                            <td>{{measure.timestamp}}</td>
                            <td>{{measure.temp}}</td>
                            <td><button class="btn btn-danger delete-measure" data-measure-id="{{ measure.id }}">Smazat měření</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card mx-5 mt-2">
            <!-- Formulář pro přidání hodnoty -->
            <div class="card-body">
                <h5>Ruční přidání hodnoty</h5>
                <form id="add-measure-form">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="temp" placeholder="Teplota">
                    </div>
                    <button type="submit" class="btn btn-primary">Přidat</button>
                </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card mx-5 mt-2">
                <!-- Formulář pro mazání range záznamů -->
                <div class="card-body">
                    <h5>Smazat prvních N hodnot</h5>
                    <form id="delete-range-form">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="range" placeholder="N">
                        </div>
                        <button type="submit" class="btn btn-primary">Smazat</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mx-5 mt-2">
                <!-- Formulář pro zobrazení range záznamů -->
                <div class="card-body">
                    <h5>Zobrazit posledních N hodnot</h5>
                    <form id="display-range-form">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="disp_range" placeholder="N">
                        </div>
                        <button type="submit" class="btn btn-primary">Zobrazit</button>
                    </form>
                </div>
            </div>
          </div>
      </div>
    
    <div class="card mx-5 mt-2">
        <div class="card-body">
            <h5>Tabluka zobrazených hodnot</h5>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">measure</th>
                        <th scope="col">temp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d_measure in display_measures %}
                    <tr>
                        <td>{{d_measure.id}}</td>
                        <td>{{d_measure.timestamp}}</td>
                        <td>{{d_measure.temp}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).on('click', '.delete-measure', function() {
        var measureId = $(this).data('measure-id');
        $.ajax({
            url: '/api/measures/' + measureId,
            type: 'DELETE',
            success: function(response) {
                $('#measure-' + measureId).parent().remove();
                location.reload();
            }
        });
    });

    $('#add-measure-form').submit(function(event) {
        event.preventDefault();
        var timestamp = new Date().toLocaleString('en-GB',{ hour12: false, day:"numeric", month:"numeric", year:"numeric", hour: "numeric", minute: "numeric", second: "numeric"});
        var temp = $('#temp').val();
        $.ajax({
            url: '/api/measures',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ timestamp: timestamp, temp: temp }),
            success: function(response) {
                $('#add-measure-form')[0].reset();
                location.reload();
            }
        });
    });

    $('#delete-range-form').submit(function(event) {
        event.preventDefault();
        var range = $('#range').val();
        $.ajax({
            url: '/api/range/' + range,
            type: 'DELETE',
            success: function(response) {
                $('#delete-range-form')[0].reset();
                location.reload();
            }
        });
    });

    $('#display-range-form').submit(function(event) {
        event.preventDefault();
        var range = $('#disp_range').val();
        $.ajax({
            url: '/api/range/' + range,
            type: 'GET',
            success: function(response) {
                $('#display-range-form')[0].reset();
                location.reload();
            }
        });
    });

</script>
{% endblock %}


