{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block navbar %} {{ super() }} {% endblock %}
{% block card %}
    <div class="card">
        <div class="card-body">  
            <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Heslo</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Přihlásit</button>
              </form>
        </div>
    </div> 
{% endblock %}

