{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block navbar %} {{ super() }} {% endblock %}
{% block card %}
    <div class="card">
        <div class="card-body">  
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <label for="inputPassword" class="form-label">Heslo</label>
                <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
                <label for="inputPasswordAgain" class="form-label">Heslo znovu</label>
                <input type="password" id="inputPasswordAgain" class="form-control" aria-describedby="passwordHelpBlock">
                <br>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Souhlasím se zneužitím mých dat</label>
                </div>
                <button type="submit" class="btn btn-primary">Registrovat</button>
            </form>
        </div>
    </div> 
{% endblock %}
